.cssColumn120 {
	width: 120px;
}

.cssColumn150 {
	width: 150px;
}

.cssColumn200 {
	width: 200px;
}

.cssColumn300 {
	width: 300px;
}

.cssColumn400 {
	width: 400px;
}

.cssColumn500 {
	width: 500px;
}

.cssColumn600 {
	width: 600px;
}

.cssColumn700 {
	width: 700px;
}

.cssColunm-w-100-p {
	width: 100%;
}

.column-w-30 {
	width: 30px !important;
}

.column-w-50 {
	width: 50px !important;
}