.cssColumn120 {
	width: 120px;
}

.cssColumn120-no-border {
	width: 120px;
	border: none !important;
	border-style: none !important;
}

.cssColumn150 {
	width: 150px;
}

.cssColumn150-no-border {
	width: 150px;
	border: none !important;
	border-style: none !important;
}

.cssColumn200 {
	width: 200px;
}

.cssColumn200-no-border {
	width: 200px;
	border: none !important;
	border-style: none !important;
}

.cssColumn300 {
	width: 300px;
}

.cssColumn300-no-border {
	width: 300px;
	border: none !important;
	border-style: none !important;
}

.cssColumn400 {
	width: 400px;
}

.cssColumn400-no-border {
	width: 400px;
	border: none !important;
	border-style: none !important;
}

.cssColumn500 {
	width: 500px;
}

.cssColumn500-no-border {
	width: 500px;
	border: none !important;
	border-style: none !important;
}

.cssColumn550 {
	width: 550px;
}

.cssColumn550-no-border {
	width: 550px;
	border: none !important;
	border-style: none !important;
}

.cssColumn600 {
	width: 600px;
}

.cssColumn600-no-border {
	width: 600px;
	border: none !important;
	border-style: none !important;
}

.cssColumn700 {
	width: 700px;
}

.cssColumn700-no-border {
	width: 700px;
	border: none !important;
	border-style: none !important;
}

.cssColumn1000 {
	width: 1000px;
}

.cssColumn1000-no-border {
	width: 1000px;
	border: none !important;
	border-style: none !important;
}

.cssColumn1100 {
	width: 1100px;
}

.cssColumn1100-no-border {
	width: 1100px;
	border: none !important;
	border-style: none !important;
}

.cssColunm-w-100-p {
	width: 100%;
}

.column-w-30 {
	width: 30px !important;
}

.column-w-50 {
	width: 50px !important;
}